@tailwind base;
@tailwind components;
@tailwind utilities;


.flashcard_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px black;
}

.flashcard_item {
  background-color: blueviolet;
  border: 2px black solid;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  height: fit-content;
  width: fit-content;

}

.flashcard_item:hover {
  background-color: rgb(114, 250, 220);
}

.flashcards_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flashcards_form_item {
  align-content: center;
}